body {
    padding: 20px;
}

#highscores {
    text-decoration: none;
    color: purple;
}

#time {
    float: right;
}

.container {
    max-width: 550px;
    padding: 0;
    position: relative;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

#start-page-header, #out-of-time-header, #sorry-bye {
    text-align: center;
}

#instructions {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button {
    border-radius: 5px;
    background-color: darkslateblue;
    color: white;
    margin: 2px;
}

button:hover {
    background-color: rgb(127, 98, 136);
}

.question-header {
    text-align: left;
}

#right-or-wrong {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

.page {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
}

.active {
    opacity: 1;
    z-index: 2;
}

.evaluate {
    position: absolute;
    top: 325px;
    width: 100%;
}

.off {
    opacity: 0;
}

.on {
    opacity: 1;
    z-index: 2;
}

#out-of-time-page {
    position: absolute;
    width: 100%;
}

#bye-bye {
    position: absolute;
    width: 100%;
}

#sorry {
    display: block;
    margin: 0 auto;
}

#done-header, #highscores-header, #out-of-time-header {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

#initials {
    margin-left: 5px;
    margin-right: 5px;
}

#error {
    text-align: left;
    color: red;
    font-weight: normal;
}

li {
    list-style-type: none;
    background-color: rgb(235, 202, 235);
}

ul {
    padding: 0;
}